.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 100%;

  .header {
    display: flex;
    background: rgb(30,30,30);
    flex-grow: 1;
    flex-shrink: 1;
    color: white;
    font-family: Helvetica, Arial;
    padding: 10px;
    >*{
      align-self:center;
    }
  }

  .content {
    display: flex;
    flex-grow: 1;

    .srd-demo-canvas {
      height: 100vh;
      width: 100vh;
      flex-grow: 1;
    }

    .diagram-layer {
      position: relative;
      flex-grow: 1; // flex-grow of 1 causes the node width to stretch right to the end of the .content box
    }

    .tray {
      min-width: 10px;
      max-width: 200px;
      background: rgb(20,20,20);
      flex-grow: 1;
      flex-shrink: 1;
      height: 100%;

      .tray-item {
        color: white;
        font-family: Helvetica, Arial;
        padding: 5px;
        margin: 0px 10px;
        border: solid 1px;
        border-radius: 5px;
        margin-bottom: 2px;
        cursor: pointer;
      }
    }
  }
}

.rightBar {
  border-left: 2px solid lightgrey;
}

.srd-default-link{

  @keyframes dash {
    from {
      stroke-dashoffset: 24;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  path{
    fill:none;
    pointer-events:all;
  }

  &-marker{
    fill: rgb(165,165,165) !important;
  }

  &--marker-selected{
    fill: rgb(50,50,50) !important;
    pointer-events:all;
  }

  &--path-selected{
    stroke: rgb(0,192,255) !important;
    stroke-dasharray: 10,2;
    animation: dash 1s linear infinite;
  }

  &__label {
    pointer-events: none;

    > div{
      display: inline-block;
      position: absolute;
    }
  }

  &__point{
    fill: rgba(white,0.5);
  }

  &--point-selected{
    fill: rgb(0,192,255);
  }
}